.header {
    display: flex;
    justify-content: space-between;
    background: transparent;
    height: 80px;
}

.nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
}

.nav ul li:nth-child(n + 2) {
    margin-left: 32px;
}

a {
    color: #000;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 500;
}

.header-btn-group {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}
.btn-bitcoin .ether {
    display: flex;
    -webkit-box-align: center;
    padding: 8px 4px;
    justify-content: space-between;
    align-items: center;
}
.btn-bitcoin {
    width: 135px;
    margin: 12px;
    background-color: red;
    height: 38px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 12px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-weight: 500;
}

.twitter-btn a:hover {
    cursor: url('../../images/cow-swap/cursor1.gif'), auto;
    animation: 1s ease 0s infinite normal none running cursor;
}
.connect-btn-wrap {
    height: 38px;
    min-width: 180px;
    border-radius: 12px;
    font-weight: 500;
    background-color: rgb(255, 120, 74);
    border: 1px solid rgb(255, 120, 74);
}
.connect-btn {
    color: rgb(0, 0, 0);
    line-height: 38px;
    display: flex;
    justify-content: center;
}

.btns-end button {
    height: 38px;
    border: none;
    width: 45px;
    border-radius: 12px;
    margin: 6px;
    background-color: rgb(213, 232, 240);
}

.btns-end button:hover {
    background-color: #fff;
}

.twitter-btn:hover {
    cursor: url('../../images/cow-swap/cursor1.gif');
    animation: 1s ease 0s infinite normal none running cursor;
}
@keyframes cursor {
    0% {
        cursor: url('../../images/cow-swap/cursor1.gif'), auto;
    }
    25% {
        cursor: url(../../images/cow-swap/cursor2.gif), auto;
    }
    50% {
        cursor: url(../../images/cow-swap/cursor3.gif), auto;
    }
    75% {
        cursor: url(../../images/cow-swap/cursor4.gif), auto;
    }
}

.twitter-btn img > svg {
    background-color: #000;
}

.more {
    height: 38px;
    width: 45px;
    border: none;
    border-radius: 12px;
    background-color: rgb(213, 232, 240);
}
.more:hover {
    background-color: #fff;
}
.wrap-footer {
    position: absolute;
    bottom: 20px;
}
