.modal {
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}
.modal.active {
    opacity: 1;
    pointer-events: all;
}

.modal__content {
    padding: 20px;
    border-radius: 50px;
    background-color: lightblue;
    width: 900px;
    height: 1100px;
    transform: scale(0.5);
    transition: 0.4s all;
}

.modal__content.active {
    transform: scale(1);
}

.modal__content h1 {
    font-size: 35px;
    padding: 10px;
    font-family: Monserrat, sans-serif;
}
.modal__content .select-input input {
    width: 850px;
    height: 80px;
    font-size: 40px;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 0 0 0 6px lightgrey;
    margin: 20px 0;
    outline: none;
}

.common-tokens button {
    width: 180px;
    height: 75px;
    font-size: 35px;
    margin: 15px;
    background: none;
    border: none;
}

.common-tokens button:hover {
    background-color: white;
    border-radius: 15px;
    transition: 0.2s;
}

.modal__content .all-wallet {
    width: 850px;
    height: 400px;
    background-color: skyblue;
    border: 2px solid grey;
    margin-top: 40px;
    margin-left: -15px;
}

.modal__content .link {
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.modal__content .link a {
    text-decoration: none;
    color: black;
    font-family: Monserrat, sans-serif;
}


.modal__content .link a:hover{
    color: grey;
    opacity: 0.8;
}

